@use "primeicons/primeicons.css";
@use "primevue/resources/primevue.min.css";
// @use "primevue/resources/themes/md-dark-indigo/theme.css";
@use "primevue/resources/themes/luna-amber/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

// SERIF (DISPLAY)
// https://fonts.google.com/specimen/Alegreya?category=Serif,Display&thickness=8&width=6&stylecount=10
@font-face {
  font-family: "Alegreya", serif;
  src: url(../assets//fonts/Alegreya/Alegreya-VariableFont_wght.ttf)
    format("truetype");
}

/*
//From Prime Faces Theme...
--text-color: #dedede;
--text-color-secondary: #dedede;
--primary-color: #FFE082;
  --primary-color-text: #212529;   
  */
:root {
  //From Prime Faces Theme...
  --text-color: #dedede;
  --text-color-secondary: #dedede;
  --primary-color: #ffe082;
  --primary-color-text: #212529;
  --background-color: #242424;
  --font-title: "Alegreya", serif;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  @apply text-3xl;
  font-family: var(--font-title);
}
h2 {
  @apply text-2xl;
  font-family: var(--font-title);
}
h3 {
  @apply text-xl;
  font-family: var(--font-title);
}
h4 {
  @apply text-lg;
  font-family: var(--font-title);
}
h5 {
  @apply text-base;
  font-family: var(--font-title);
}
h6 {
  @apply text-sm;
  font-family: var(--font-title);
}
//= ANCHORS ======================================//
// a { ... }
a:hover {
  color: var(--primary-color);
  @apply underline;
}

//= PANEL ========================================//
.p-panel {
  @apply py-1 w-full max-w-full;
}

//= CAROUSEL HERO ================================//
.carousel-info-wrapper {
  @apply absolute w-full px-9 mt-1;
  background: linear-gradient(
    0deg,
    rgba(36, 36, 36, 0.95) 80%,
    rgba(36, 36, 36, 0.8) 90%,
    rgba(36, 36, 36, 0) 100%
  );
  @media (min-width: 600px) {
    @apply mt-10  py-5;
    bottom: -25%;
  }
  // @media (max-width: 500px) {  }
  // @media (max-width: 500px) {  }
  // @media (max-width: 500px) {  }
  // @media (max-width: 500px) {  }
  //   bottom: 50%;
  // }
}

.carousel-footer-wrapper {
  @apply flex flex-wrap items-center;
  vertical-align: middle;
}
.carousel-links-wrapper {
  @apply flex flex-wrap;
  @media (max-width: 500px) {
    @apply w-full justify-center;
  }
}
.carousel-chip-wrapper {
  @apply flex flex-wrap flex-grow justify-end;
  @media (max-width: 500px) {
    @apply w-full justify-center;
  }
}

//= CHIPS ========================================//

.chip {
  @apply rounded-full px-3 mx-1 my-2;
}

.title-chip {
  @extend .chip;
  @apply absolute font-bold;
  font-family: var(--font-title);
  top: 0.5em;
  left: 0.75em;
  border-bottom: 1px black solid;
  border-left: 1px black solid;
  transform: rotate(-7deg);
}

.tag-chip {
  @extend .chip;
  @apply font-bold;
  font-family: monospace;
  color: var(--primary-color-text);
  background-color: var(--primary-color);
}
/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
